body {
  font-family: helvetica, sans-serif;
}

header {
  width:100%;
  height:18px;
  background:white;
  clear:both;
 }

#layoutHeader {
  font-size:100px;
  float:left;
  margin-bottom:0px;
  margin-top:0px;
  text-decoration: underline;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

a:hover {
  color: red;
}

/* Welcome Page Style */

.welcome {
  font-family: 'Song Myung', serif;
  font-size: 24px;
  text-align: justify;
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 415px;
}

.welcome h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

.welcome p {
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 0px;
}

.welcome a {
  color: white;
  text-decoration-color: black;
}

/* Login Page Styling */

.entryPoint {
  text-align: center;
  font-size: 24px;
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 600px;
}

.entryStyles #tinyText {
  font-size: 14px;
}

/* Input Styling */

.inputForm {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4;
  }

/* Create Food Page Styling */

.createFood {

}

.createFood label {
  font-weight: bold;
  background: white;
}

/* User Home Styling */

.userHome {

}

/* Warnings */

.expired {
  color: red;
  text-align: center;
}

.warning {
  color: red;
}

/* Background Image Styling */

#strawberry {
  position: relative;
  right: 200px;
  height: 88%;
  width: auto;
}

#orange {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 30px;
}

#banana {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  bottom: 93px;
}
