html, body {
  margin:0;
  padding:0;
}

body {
  font-family: 'Song Myung', serif;
}

header {
  font-size: 35px;
  width:100%;
  height: 50px;
  margin: 0px;
  background: white;
  clear:both;
 }

#button {
  float:left;
  background: white;
  height:30px;
  width:75px;
  margin:0;
  padding:5px 0 0 10px;
  border-bottom-right-radius:10px;
  opacity:0.7
}

 h1 {
   font-family: 'Song Myung', serif;
 }

 label {
   font-family: 'Song Myung', serif;
 }

hr {
  border: 10px dotted black;
  border-style: none none dotted;
}

#layoutHeader {
  font-family: 'Song Myung', serif;
  font-size:100px;
  float:left;
  margin-bottom:0px;
  margin-top:0px;
  text-decoration: underline;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

a:hover {
  color: red;
}

/* Welcome Page Style */

.welcome {
  font-family: 'Song Myung', serif;
  font-size: 24px;
  text-align: justify;
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 415px;
}

.welcome h1 {
  font-size: 60px;
  margin-bottom: 10px;
  text-decoration: underline black;
}

.welcome p {
  margin-top: 0px;
}

.welcome a {
  text-decoration-color: black;
}

/* Login Page Styling */

.entryPoint {
  text-align: center;
  font-size: 24px;
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 600px;
}

.entryStyles #tinyText {
  font-size: 14px;
}

/* Input Styling */

.inputForm {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    height:25px;
    font-family: Tahoma;
    background: #f4f4f4;
  }

/* Select Menu Styling */

 .createEditSelect {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   background-color: white;
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.showPageSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  background-color: white;
  border: 3px solid #ccc;
  font-size: 25px;
  font-weight: bold;
  height: 38px;
  width: 300px;
}

/* Create Food Page Styling */

.createFood {
  font-family: 'Song Myung', serif;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  width: 415px;
}

.createFood label {
  font-weight: bold;
}

/* User Home Styling */

.userHome {
  font-family: 'Song Myung', serif;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 415px;
}

/* Edit Page Styling */

.editFood, .showFood {
  font-family: 'Song Myung', serif;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  width: 415px;
}

/* Warnings */

.expired {
  color: red;
  background: white;
  text-align: center;
}

.warning {
  color: red;
  background: white;
}

/* Background Image Styling */

#strawberry {
  position: relative;
  right: 200px;
  height: 88%;
  width: auto;
}

#orange {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 30px;
}

#banana {
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  bottom: 93px;
}
