<style>

  body {
    max-width: 100%;
    overflow: hidden;
    background: rgb(235 239 249);
  }

</style>

<div class="entryPoint">

<h1>and we're back in 3, 2...</h1>

<form action="/login" method="post">

  <p><label>Username: </label><input class="inputForm" style="margin-right:20px;"type="text" name="username"> <label>Password: <input class="inputForm" type="password" name="password"></label></p>

  <p class="warning"><% if flash.has?(:message) %><%= flash[:message] %><% end %></p>

  <p><input type="submit" value="submit"><p>
  <p id="tinyText">New to the site? <a href="/signup">Sign up</a> for a new account.</p>

</form>

</div>


<p><img id="orange" src="/photos/orange.png"></p>
