<h1>Welcome, <%= @user.username %></h1>
<h4>Let's take a look at what you've got in your kitchen:</h4>

  <p><a href="/fruits">Fruits</a></p>
  <p><a href="/vegetables">Vegetables</a></p>
  <p><a href="/meat">Meat</a></p>
  <p><a href="/beverages">Beverages</a></p>
  <p><a href="/pantry_items">Pantry Items</a></p>
