<style>

  body {
    background-color: rgb(101 237 252);

  }

</style>

<div class="createFood">

  <h1><strong>Add items to your kitchen inventory:</strong></h1>

  <form action="/users/<%= current_user.username %>/foods" method="post">

    <label>Name: </label><input class="inputForm" type="text" name="food[name]">

    <p></p>

    <label>Quantity: </label><input class="inputForm" type="text" name="food[quantity]">

    <p></p>

    <label>Expiration: </label><input class="inputForm" type="date" name="food[expiration_date]">

    <p></p>

    <label>Select a Category: </label>

    <p>
      <% if !current_user.categories.empty? %>
        <select class="createEditSelect" name="category[id]">
        <% current_user.categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
        </select>
      <% end %>
    </p>


    <p></p>

    <label>Add a New Category:</label>
      <input class="inputForm" type="text" name="category[name]">

    <p></p>

    <input type="submit" name="Submit">

  </form>

</div>
