<h1>Inventory Add Form</h1>

<form action="/users/<%= current_user.username %>/foods" method="post">

  <label>Name: </label><input type="text" name="food[name]">

  <p></p>

  <label>Quantity: </label><input type="text" name="food[quantity]">

  <p></p>

  <label>Expiration Date: </label><input type="date" name="food[expiration_date]">

  <p></p>

  <label>Select a Category: </label>
    <% if !current_user.categories.empty? %>
      <% current_user.categories.each do |category| %>
      <input type="radio" name="category[id]" value="<%= category.id %>"><label><%= category.name %></label>
      <% end %>
    <% end %>

  <p></p>

  <label>Add a New Category:</label>
    <input type="text" name="category[name]">

  <p></p>

  <input type="submit" name="Submit">

</form>
