<div class="createFood">

  <h1>Add items to your kitchen inventory:</h1>

  <form action="/users/<%= current_user.username %>/foods" method="post">

    <label>Name: </label><input class="inputForm" type="text" name="food[name]">

    <p></p>

    <label>Quantity: </label><input class="inputForm" type="text" name="food[quantity]">

    <p></p>

    <label>Expiration: </label><input class="inputForm" type="date" name="food[expiration_date]">

    <p></p>

    <label>Select a Category: </label>
      <% if !current_user.categories.empty? %>
        <% current_user.categories.each do |category| %>
        <input type="radio" name="category[id]" value="<%= category.id %>"><label><%= category.name %></label>
        <% end %>
      <% end %>

    <p></p>

    <label>Add a New Category:</label>
      <input class="inputForm" type="text" name="category[name]">

    <p></p>

    <input type="submit" name="Submit">

  </form>

</div>
