<h1>Here's an overview of your entire stock of food:</h1>

<% if !current_user.foods.empty? %>

  <% current_user.foods.each do |food| %>
    <p><a href="/users/<%= current_user.username %>/<%= food.category %>/<%= food.name.gsub(" ", "-") %>"><%= food.name %></a></p>
  <% end %>

<% else %>

  <h3>You're all out of food!  Time to go shopping.</h3>

<% end %>

<p><a href="/users/show">Home</a></p>
