<h1><%= @food.name.downcase.capitalize %> </h1>
  <ul>
    <li>Quantity: <%= @food.quantity %></li>
    <li>Expiration Date: <%= @food.expiration_date %></li>
  </ul>

<p><a href="/users/show">Home</a></p>
<p><a href="/users/:user_slug/:category/:food/edit">Edit</p> 
<p><a href="#">Delete</a></p>
