<h1>Welcome to Fresh Kitchen!</h1>

<p>
  Fresh Kitchen tracks food expiration dates in your kitchen.  It is searchable by expiration date, 
  food type - vegetable, meat, beverage, and dry goods - as well as storage type - refrigerator, freezer,
  and pantry.</p>

<form action="/login" method="get">
  <input type="submit" value="Login">
</form>

<form action="/signup" method="get">
  <input type="submit" value="Create New Account">
</form>
