<h1>Welcome to Fresh Kitchen!</h1>

<p>
  Fresh Kitchen tracks food expiration dates in your kitchen.  It is searchable by expiration date,
  food type - vegetable, meat, beverage, and dry goods - as well as storage type - refrigerator, freezer,
  and pantry.</p>

  <a href="/users/login">Log in</a> or <a href="/users/create_user">sign up</a> today!
