<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% if logged_in? %>
      <header style="width:100%;height:18px;background:lightgray">
        <a href="/users/<%= current_user.username %>">Home</a>
        <a href="/users/<%= current_user.username %>/foods/new" style="margin-left:5px;">Add Item</a>
        <a href="/logout" style="float:right;">Sign Out</a>
      </header>
    <% end %>

    <%= yield %>

  </body>
</html>
