<style>
  body {
    background-color: rgb(255 187 217);
  }
</style>

<div class="welcome">

<h1>Fresh Kitchen</h1>
  We keep your kitchen organized and up to date, notifying you when your food
  is about to expire and making it easy to stay stocked up on all your favorite
  goodies.
</p>

<span><a href="/login">Log in</a> or <a href="/signup">sign up</a> today!</span>

</div>
