<style>

.content:before {
content: "";
position: fixed;
left: 0;
right: 0;
z-index: -1;

display: block;
background-image: url('/photos/fresh_wallpaper.jpg');
background-size:cover;
width: 100%;
height: 100%;

-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}

</style>

<body class="content">
<div class="welcome">

<h1>Fresh Kitchen</h1>
  <p>We keep your kitchen organized and up to date.</p>
  <p>Get notifications when your food is about to expire
     and stay stocked up on all your favorite goodies.
  </p>

<a href="/login">Log in</a> or <a href="/signup">sign up</a>

</div>
</body>
