<h1>Welcome to Fresh Kitchen!</h1>

<p>
  Fresh Kitchen keeps you organized and up to date, organizing your kitchen by category, notifying you when your food
  is about to expire, and making it easy to replace items by shopping online.
</p>

  <a href="/login">Log in</a> or <a href="/signup">sign up</a> today!
