<style>
  body {
    background-color: rgb(255 187 217);
  }
</style>

<div class="welcome">

<h1>Fresh Kitchen</h1>
  <p>We keep your kitchen organized and up to date.</p>
  <p>Get notifications when your food is about to expire
     and stay stocked up on all your favorite goodies.
  </p>

<a href="/login">Log in</a> or <a href="/signup">sign up</a> now

</div>
